@model IEnumerable<MammoClassifier.Data.Entities.Study>

@{
    ViewData["Title"] = "لیست بیماران";
    Layout = "_ViewerLayout";
}


<div class="index-wrapper">
    <div class="add-study-div"><a asp-action="UploadStudy"><i class="bi bi-plus-circle"></i></a></div>

    <div class="table-back">
        <table id="StudiesTable" class="custom-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Patient ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var study in Model)
                {
                    <tr>
                        <td>@study.CreateDate</td>
                        <td>@study.PatientID</td>
                        <td>@study.FirstName</td>
                        <td>@study.LastName</td>
                        <td><a asp-action="MainPanel" asp-route-id="@study.Id" class="btn btn-sm btn-outline-light">Open</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#StudiesTable').DataTable();
        });
    </script>
}