@model MammoClassifier.Data.Entities.Study

@{
    ViewData["Title"] = "نمایشگر تصاویر";
    Layout = "_ViewerLayout";
}

<!-- Sidebar -->
<div class="viewer-sidebar">
    <div class="d-flex justify-content-center">
        <h2 class="viewer-title">سامانه هوشنمد بینا</h2>
    </div>

    @*     <div class="studies-cat">
    <button class="tab active">Primary</button>
    <button class="tab">Recent</button>
    <button class="tab">All</button>
    </div> *@
    @if (Model.Images.ElementAt(0).ClassProbs.Any())
    {

        <div class="d-flex flex-column model-result">
            <h5 class="m-auto">AI assistant</h5>
            <hr class="m-0" />
            <h6>Final prediction:</h6>
            <p>Label : @Model.Images.ElementAt(0).ClassProbs.ElementAt(0).Label</p>
            <p>Probability: @Math.Round((Model.Images.ElementAt(0).ClassProbs.ElementAt(0).Probability * 100), 2)%</p>
            <p>Category: BI-RADS @Model.Images.ElementAt(0).ClassProbs.ElementAt(0).BIRADS</p>
            @* <hr class="m-0" />
        <h6>Probability of other categories:</h6>
        <p>BI-RADS4: 78%</p>
        <p>BI-RADS3: 37%</p>
        <p>BI-RADS2: 9%</p>
        <p>BI-RADS5: 38%</p> *@
            @* <div class="study-type">MG</div>
        <div class="study-thumbnails">
        <!-- Thumbnail example -->
        <div class="thumbnail">
        <img src="@Model.Images.Single(x => x.Projection == "CC").ThumbnailPath" alt="DICOM Thumbnail" />
        <p>S: 1003</p>
        </div>
        <div class="thumbnail">
        <img src="@Model.Images.Single(x => x.Projection == "MLO").ThumbnailPath" alt="DICOM Thumbnail" />
        <p>S: 1004</p>
        </div>
        </div>

        <hr />

        <div>
        <div class="study-date">09-Jan-2023</div>
        <div class="study-type">MG</div>
        <div class="study-thumbnails">
        <!-- Thumbnail example -->
        <div class="thumbnail">
        <img src="thumbnails/cc_thumbnail.png" alt="DICOM Thumbnail" />
        <p>S: 1003</p>
        </div>
        <div class="thumbnail">
        <img src="thumbnails/mlo_thumbnail.png" alt="DICOM Thumbnail" />
        <p>S: 1004</p>
        </div>
        </div>
        </div> *@
        </div>
    }
</div>


<!-- Main Viewer -->
<div class="viewer">
    <div class="toolbar">
        <div class="d-flex w-100 justify-content-center">
            <label class="d-flex align-items-center gap-1">
                Adjust window
                <label class="switch">
                    <input type="checkbox" id="mouse_checkbox">
                    <span class="slider round"></span>
                </label>
                Move the image
            </label>
            <button class="tool"><i class="bi bi-pencil"></i></button>
            <button class="tool"><i class="bi bi-camera"></i></button>
            <button class="tool" id="zoomIn"><i class="bi bi-zoom-in"></i></button>
            <button class="tool" id="zoomOut"><i class="bi bi-zoom-out"></i></button>
            <a class="tool btn-list" asp-action="Index">
                <i class="bi bi-card-list"></i>
            </a>
            <label class="d-flex align-items-center gap-1">
                Heatmap
                <label class="switch">
                    <input type="checkbox" id="heatmap_checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </label>
        </div>
        <div class="mt-2 d-flex align-items-center gap-2 window_inputs_div">
            <label>Window Width :</label>
            <input id="ww" type="text" placeholder="e.g. 1000" value="256" />
            <label>Window Center :</label>
            <input id="wc" type="text" placeholder="e.g. 500" value="128" />
            <button id="apply" class="btn btn-sm btn-outline-info">Apply</button>
            <button id="invert" class="btn btn-sm btn-outline-info">Invert</button>
            <button id="reset" class="btn btn-sm btn-outline-info">Reset</button>
            <!-- Add more toolbar icons as needed -->
        </div>
    </div>
    <div class="image-viewer">
        <div class="image-container">
            <!-- <img id="dicomImage1" src="vindr_cc.png" alt="DICOM Image" /> -->
            <div id="dicomImage1" class="image-panel"></div>
            <div id="mapImage1" class="image-panel"></div>
        </div>
        <div class="image-container">
            <!-- <img id="dicomImage2" src="vindr_mlo.png" alt="DICOM Image" /> -->
            <div id="dicomImage2" class="image-panel"></div>
            <div id="mapImage2" class="image-panel"></div>
        </div>
    </div>
</div>

@* <div class="loading"></div> *@


@section Scripts {
    <script>
        $(document).ready(function () {
            //loadImagesAndMaps('@Model.Images.Single(x => x.Projection == "CC").DICOMPath', '@Model.Images.Single(x => x.Projection == "MLO").DICOMPath',
            //    '@Model.Images.Single(x => x.Projection == "CC").MapPath', '@Model.Images.Single(x => x.Projection == "MLO").MapPath')
            loadAndEnableElements('@Model.Images.Single(x => x.Projection == "CC").DICOMPath', '@Model.Images.Single(x => x.Projection == "MLO").DICOMPath',
                '@Model.Images.Single(x => x.Projection == "CC").MapPath', '@Model.Images.Single(x => x.Projection == "MLO").MapPath')

            // $.ajax("http://127.0.0.1:8000/calculate", {
            //     data: JSON.stringify({ "number": 10 }),
            //     contentType: 'application/json',
            //     type: 'POST'
            // }).done(function (result) {
            //     console.log(result);
            // }).fail(function (result) {
            //     alert("Request to ML engine FAILED. code:" + result.status + " error:" + result.responseText);
            // });
        });
    </script>
}