@model MammoClassifier.Data.Entities.Study

@{
    ViewData["Title"] = "نمایشگر تصاویر";
    Layout = "_ViewerLayout";
}

<!-- Sidebar -->
<div class="viewer-sidebar">
    <div class="d-flex" style="height: 65px">
        <h2 class="viewer-title m-auto">سامانه هوشنمد بینا</h2>
    </div>
 
    @if (Model.Images.ElementAt(0).ClassProbs.Any())
    {
        <div class="d-flex flex-column model-result">
            <h5 class="m-auto ai-label">AI assistant</h5>
            <hr class="m-0" />
            <p>Label: @Model.Images.ElementAt(0).ClassProbs.ElementAt(0).Label</p>
            <p>Probability: @Math.Round((Model.Images.ElementAt(0).ClassProbs.ElementAt(0).Probability * 100), 2)%</p>
        </div>
    }

    <div class="d-flex flex-column model-result">
        <h5 class="m-auto">Patient's info</h5>
        <hr class="m-0" />
        <p>Name: @Model.FirstName @Model.LastName</p>
        <p>Age: @Model.Age</p>
        <p>Patient Id: @Model.PatientID</p>
        <form>
            <label class="mb-1">Final BI-RADS score:</label>
            <input type="hidden" asp-for="Id" id="study_id" />
            <input asp-for="BIRADS" class="w-100" id="birads_input" />
        </form>
    </div>
</div>

<!-- Main Viewer -->
<div class="viewer">
    <div class="toolbar">
        <div class="d-flex w-100 justify-content-center">
            <label class="d-flex align-items-center gap-1">
                Adjust window
                <label class="switch">
                    <input type="checkbox" id="mouse_checkbox" checked>
                    <span class="slider round"></span>
                </label>
                Move the image
            </label>
            <button class="tool"><i class="bi bi-pencil"></i></button>
            <button class="tool"><i class="bi bi-camera"></i></button>
            <button class="tool" id="zoomIn"><i class="bi bi-zoom-in"></i></button>
            <button class="tool" id="zoomOut"><i class="bi bi-zoom-out"></i></button>
            <a class="tool btn-list" asp-action="Index">
                <i class="bi bi-card-list"></i>
            </a>
            <label class="d-flex align-items-center gap-1">
                Heatmap
                <label class="switch">
                    <input type="checkbox" id="heatmap_checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </label>
        </div>
        <div class="mt-2 d-flex align-items-center gap-2 window_inputs_div">
            <label>Window Width :</label>
            <input id="ww" type="text" placeholder="e.g. 1000" value="256" />
            <label>Window Center :</label>
            <input id="wc" type="text" placeholder="e.g. 500" value="128" />
            <button id="apply" class="btn btn-sm btn-outline-info">Apply</button>
            <button id="invert" class="btn btn-sm btn-outline-info">Invert</button>
            <button id="reset" class="btn btn-sm btn-outline-info">Reset</button>
            <!-- Add more toolbar icons as needed -->
        </div>
    </div>
    <div class="image-viewer">
        <a asp-action="MainPanel" asp-route-id="@ViewData["PrevStudyId"]" class="study-change-btn"><i class="bi bi-caret-left"></i></a>
        <div class="image-container">
            <!-- <img id="dicomImage1" src="vindr_cc.png" alt="DICOM Image" /> -->
            <div id="dicomImage1" class="image-panel"></div>
            <div id="mapImage1" class="image-panel"></div>
        </div>
        <div class="image-container">
            <!-- <img id="dicomImage2" src="vindr_mlo.png" alt="DICOM Image" /> -->
            <div id="dicomImage2" class="image-panel"></div>
            <div id="mapImage2" class="image-panel"></div>
        </div>
        <a asp-action="MainPanel" asp-route-id="@ViewData["NextStudyId"]" class="study-change-btn"><i class="bi bi-caret-right"></i></a>
    </div>
</div>

@* <div class="loading"></div> *@


@section Scripts {
    <script>
        $(document).ready(function () {
            //loadImagesAndMaps('@Model.Images.Single(x => x.Projection == "CC").DICOMPath', '@Model.Images.Single(x => x.Projection == "MLO").DICOMPath',
            //    '@Model.Images.Single(x => x.Projection == "CC").MapPath', '@Model.Images.Single(x => x.Projection == "MLO").MapPath')
            loadAndEnableElements('@Model.Images.Single(x => x.Projection == "CC").DICOMPath', '@Model.Images.Single(x => x.Projection == "MLO").DICOMPath',
                '@Model.Images.Single(x => x.Projection == "CC").MapPath', '@Model.Images.Single(x => x.Projection == "MLO").MapPath')


            $('#birads_input').on('input', function () {
                const score = $(this).val();
                const studyId = $('#study_id').val();

                $.ajax({
                    url: '/savebirads',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ StudyId: studyId, Score: score }),
                    success: function (response) {
                        console.log('Value saved:', response);
                    },
                    error: function (err) {
                        console.error('Error:', err);
                    }
                });
            })
        });
    </script>
        
    @*Turn off the heatmap for non-malignant cases or those without heatmap*@
    @if (Model.Images.ElementAt(0).MapPath.Contains("dummy"))
    {
        <script>
            $("#heatmap_checkbox").prop('checked', false);
            $("#mapImage1").css("opacity", 0); // I'll lose the mouse events if hide the element
            $("#mapImage2").css("opacity", 0);
        </script>
    } 
    @if (Model.Images.ElementAt(0).ClassProbs.Any() && Model.Images.ElementAt(0).ClassProbs.ElementAt(0).Label == "Non-Malignant")
    {
        <script>
            $("#heatmap_checkbox").prop('checked', false);
            $("#mapImage1").css("opacity", 0); // I'll lose the mouse events if hide the element
            $("#mapImage2").css("opacity", 0);
        </script>
    }
}